<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="exampleBean" class="org.springframework.dependency.examples.ExampleBean">
    <constructor-arg name="years" value="10"></constructor-arg>
    <constructor-arg name="ultimateAnswer" value="42"></constructor-arg>
  </bean>

  <bean id="lazyBean" class="org.springframework.dependency.examples.LazyBean" lazy-init="true">

  </bean>

  <bean id="iocContainerAware" class="org.springframework.dependency.examples.IocContainerAware"
    scope="singleton">

  </bean>

  <bean id="singletonBean" scope="singleton"
    class="org.springframework.dependency.examples.SingletonBean"/>

  <bean id="prototypeBean" scope="prototype"
    class="org.springframework.dependency.examples.PrototypeBean"/>

</beans>